* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6c63ff, #3f3d56);
}

.quiz-container.show {
  opacity: 1;
  transform: translateY(0);
}

.quiz-container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeUp 0.8s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
}

h2 {
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  background: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
}

.options label:hover {
  background: #ddd;
}

input {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background: #6c63ff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5148d8;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
